nav, footer {
	display: none;
}

@page {
	size: 8.5in 11in;
	margin: 0.5in;
}

* {
	color: black;
	background-color: white;
	background-image: none;
	font-size: 12pt;
	font-family: "Times New Roman", Times, serif;
}